body{
    background-color: #efefef;
    margin: 0;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 12px;
}
img{
    margin: 15px;
    width: 200px;
    left: 200px;
    border-radius: 5%;
}
.container2{
    background-color: white;
    border-radius: 0.5rem;
    width: 230px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 42%;
    box-shadow: 0px 0px 5px #6a6a6a
}

section{
    background-color: #c2d2f9;
    margin: 6rem;
    padding: 18%;
    box-shadow: 0px 0px 7px #6a6a6a
}
h3{
    text-align: center;
    margin: 5px;
}
section article p{
    text-align: center;
    margin:18px;
}